VITE_SUPABASE_URL=https://qkzjztarlmezwizlyigo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFremp6dGFybG1lendpemx5aWdvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2NTg5NTAsImV4cCI6MjEwMjIzNDk1MH0.e2Fi3AMtjEaiYQbQiKfS5U_PoLa6d-aUqnHGY2YZ7Jo
